
h1 {
  color: #9C9F84;
  font-size: 100px;
  font-family: Besom; src: url('BESOM.OTF'); 

}

h2 {
  color: black;
  width: 1000px;
}

h4 {
  color: black;

}

body {
  background: white;
  width: 1000px;
}

img {
  width: 1000px;
  height: 800px;
  position: fixed;
  z-index:-1;
  top:-100px;
}
